﻿@model SignalRChat.IdentityServer.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Sign-Up: Chat App";
}
<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-8 col-lg-6">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-8">
                        <div class="col-12">
                            <div class="text-center">
                                <h1 class="fw-bold mb-2">Sign-Up to the Chat App</h1>
                                <p>Sign-In for free</p>
                            </div>
                        </div>
                    </div>
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div class="row">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group col-12">
                                <label asp-for="UserName" class="control-label form-label"></label>
                                <input asp-for="UserName" class="form-control" placeholder="User name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12">
                                <label asp-for="Email" class="control-label form-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="Password" class="control-label form-label"></label>
                                <input asp-for="Password" class="form-control" id="signin-password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="ConfirmPassword" class="control-label form-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" id="signin-password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <label asp-for="Photo" class="control-label form-label"></label>
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="panda" checked="">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/panda.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Panda</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="cheetah">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/cheetah.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Cheetah</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="antelope">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/antelope.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Antelope</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="bear">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/bear.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Bear</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="bird">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/bird.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Bird</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="bull">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/bull.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Bull</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="elephant">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/elephant.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Elephant</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="custom-line-item list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-2">
                                                <div class="form-check form-switch" style="padding: 0px">
                                                    <input asp-for="Photo" name="photo" class="form-check-input" type="radio" value="fawn">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a class="avatar"><img class="avatar-img" src="~/avatar/fawn.png" alt=""></a>
                                            </div>
                                            <div class="col">
                                                <h5>Fawn</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group col-12 mt-4">
                                <button type="submit" class="btn btn-block btn-lg btn-primary w-100">Sign-Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>
                    Already have an account?
                    <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign-In</a>
                </p>
            </div>
        </div>
    </div>
    <!-- / .row -->
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
