﻿<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-6 col-lg-5">

            <div class="card card-shadow border-0">
                <div class="card-body position-relative pt-0 mb-6">
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <a class="avatar avatar-xl mx-auto border border-light border-5 btn-primary"><span class="mt-7" style="margin-left: 7px">ChatApp</span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h1 class="fw-bold">Welcome to the SignalR Chat App</h1>
                                <p>SignalR Training Project</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="https://signalrdale.azurewebsites.net">
                                <button class="btn btn-block btn-lg btn-primary w-100 mb-4" type="submit">Continue to Chat App</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-8">
                <p>Copyright 2021 . v1.0.1</p>
            </div>

        </div>
    </div>
    <!-- / .row -->
</div>