﻿<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-6 col-lg-5">

            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="alert alert-danger">
                            An error was encountered when authenticating the account. Please contact the development team for more information.
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-8">
                <p>Copyright 2021 . v1.0.0</p>
            </div>

        </div>
    </div>
    <!-- / .row -->
</div>